.navbar{
    height: 10vh;
    background-color: #19722e;
}
.navbar-brand{
    height: 100%;
}
.navbar-brand > a > img{
    height: 100%;
}

.navbar-button-container{
    float: right;
}

li a{
    color: lightgray;
}

li a:hover{
    color: white;
}

#account{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}