body{
    font-family: 'Roboto', sans-serif;
}

.progress{
    width: 100%;
}

.navbar{
    height: 10vh;
    background-color: #19722e;
}

.navbar-brand{
    height: 100%;
}

.navbar-brand > a > img{
    height: 100%;
}

.navbar-button-container{
    float: right;
}

.hide{
    display: none;
}

.red{
    color: red;
}

.yellow{
    color: #ffc107;
}

.dropdown-menu{
    background-color: #19722e;
}

.dropdown-item{
    color: lightgray;
}

.dropdown-item:hover{
    background-color: #19722e;
    color: white;
}

li a{
    color: lightgray;
}

li a:hover{
    color: white;
}

#account{
    color: white;
    margin-top: 10px;
}